# Data Understanding

### 1. Building the Dataframe

In [205]:
import pandas as pd
import os
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

Insert TMDB_tv_dataset_v3.csv to the files section of the Google Colab for access.

In [206]:
TMDB_filename = os.path.join(os.getcwd(), "TMDB_tv_dataset_v3.csv")
df = pd.read_csv(TMDB_filename)

### 2. Basic Exploration of TMDB Data

In [207]:
#dataframe shape
df.shape

(167059, 30)

In [155]:
#first few rows:
display(df.head())

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time,cleaned_overview
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0,seven noble family fight control mythical land...
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70,carry biggest heist history mysterious man cal...
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0,young boy vanishes small town uncovers mystery...
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42,sheriff deputy rick grime awakens coma find po...
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45,bored unhappy lord hell lucifer morningstar ab...

In [208]:
#last few rows:
display(df.tail())

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time,cleaned_overview
167054,239099,母乳酱想要喷出来,1,1,zh,0,0.0,Thai Drama 2019.,False,/rYLnnA0GBXATn8kMXCNY0r8mA8Q.jpg,...,Documentary,Shotaro Ishinomori,en,BBC One,CN,English,TVB,Japan,0,thai drama
167055,241205,Barbie Dream Squad,1,1,es,0,0.0,Thai Drama 2019.,False,/rYLnnA0GBXATn8kMXCNY0r8mA8Q.jpg,...,Documentary,"Dee Shipley, Blair Davidson",en,BBC One,US,English,TVB,Japan,0,thai drama
167056,240696,Picasso,1,1,bn,0,0.0,"Murder, art and a journalist's relentless ques...",False,/fseBBbvHtdcZS5M7bSjOxYsVe5.jpg,...,Crime,Shotaro Ishinomori,bn,BBC One,IN,বাংলা,TVB,India,0,murder art journalist relentless quest answer ...
167057,240697,女子大生危険なアルバイト,1,1,en,0,0.0,A college student gets into trouble when she m...,False,/rYLnnA0GBXATn8kMXCNY0r8mA8Q.jpg,...,Documentary,Shotaro Ishinomori,en,BBC One,US,English,TVB,Japan,0,college student get trouble move mansion wealt...
167058,237566,Welcome to My World,1,5,en,0,0.0,Short-lives series on Youtube Red.,False,/rYLnnA0GBXATn8kMXCNY0r8mA8Q.jpg,...,Documentary,Paul Vandervort,en,BBC One,US,English,YouTube Red,United States of America,0,shortlives series youtube red

In [209]:
# display basic statistics of numeric columns
display(df.describe())

,id,number_of_seasons,number_of_episodes,vote_count,vote_average,popularity,episode_run_time
count,167059.000000,167059.000000,167059.000000,167059.000000,167059.000000,167059.000000,167059.000000
mean,110109.398584,1.551901,24.616363,13.430668,2.353995,5.932699,22.799340
std,75809.175815,2.955065,135.407132,191.704859,3.461939,42.218303,48.117659
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,45462.500000,1.000000,1.000000,0.000000,0.000000,0.600000,0.000000
50%,96768.000000,1.000000,6.000000,0.000000,0.000000,0.874000,0.000000
75%,195539.500000,1.000000,20.000000,1.000000,6.000000,2.468000,42.000000
max,251213.000000,240.000000,20839.000000,21857.000000,10.000000,3707.008000,6032.000000

In [158]:
# display info about DataFrame
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167059 entries, 0 to 167058
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    167059 non-null  int64
 1   name                  167059 non-null  object
 2   number_of_seasons     167059 non-null  int64
 3   number_of_episodes    167059 non-null  int64
 4   original_language     167059 non-null  object
 5   vote_count            167059 non-null  int64
 6   vote_average          167059 non-null  float64
 7   overview              167059 non-null  object
 8   adult                 167059 non-null  bool
 9   backdrop_path         167059 non-null  object
 10  first_air_date        167059 non-null  object
 11  last_air_date         167059 non-null  object
 12  homepage              167059 non-null  object
 13  in_production         167059 non-null  bool
 14  original_name         167059 non-null  object
 15  popularity            167059 non-null  float64
 16  poster_path           167059 non-null  object
 17  type                  167059 non-null  object
 18  status                167059 non-null  object
 19  tagline               167059 non-null  object
 20  genres                167059 non-null  object
 21  created_by            167059 non-null  object
 22  languages             167059 non-null  object
 23  networks              167059 non-null  object
 24  origin_country        167059 non-null  object
 25  spoken_languages      167059 non-null  object
 26  production_companies  167059 non-null  object
 27  production_countries  167059 non-null  object
 28  episode_run_time      167059 non-null  int64
 29  cleaned_overview      166979 non-null  object
dtypes: bool(2), float64(2), int64(5), object(21)
memory usage: 36.0+ MB

None

In [210]:
#identifying features
df.columns.tolist()

['id',
 'name',
 'number_of_seasons',
 'number_of_episodes',
 'original_language',
 'vote_count',
 'vote_average',
 'overview',
 'adult',
 'backdrop_path',
 'first_air_date',
 'last_air_date',
 'homepage',
 'in_production',
 'original_name',
 'popularity',
 'poster_path',
 'type',
 'status',
 'tagline',
 'genres',
 'created_by',
 'languages',
 'networks',
 'origin_country',
 'spoken_languages',
 'production_companies',
 'production_countries',
 'episode_run_time',
 'cleaned_overview']

# Data Preprocessing

### Handle Missing Values

In [211]:
# Inspect the structure of the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167059 entries, 0 to 167058
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    167059 non-null  int64
 1   name                  167059 non-null  object
 2   number_of_seasons     167059 non-null  int64
 3   number_of_episodes    167059 non-null  int64
 4   original_language     167059 non-null  object
 5   vote_count            167059 non-null  int64
 6   vote_average          167059 non-null  float64
 7   overview              167059 non-null  object
 8   adult                 167059 non-null  bool
 9   backdrop_path         167059 non-null  object
 10  first_air_date        167059 non-null  object
 11  last_air_date         167059 non-null  object
 12  homepage              167059 non-null  object
 13  in_production         167059 non-null  bool
 14  original_name         167059 non-null  object
 15  popularity            167059 non-null  float64
 16  poster_path           167059 non-null  object
 17  type                  167059 non-null  object
 18  status                167059 non-null  object
 19  tagline               167059 non-null  object
 20  genres                167059 non-null  object
 21  created_by            167059 non-null  object
 22  languages             167059 non-null  object
 23  networks              167059 non-null  object
 24  origin_country        167059 non-null  object
 25  spoken_languages      167059 non-null  object
 26  production_companies  167059 non-null  object
 27  production_countries  167059 non-null  object
 28  episode_run_time      167059 non-null  int64
 29  cleaned_overview      166979 non-null  object
dtypes: bool(2), float64(2), int64(5), object(21)
memory usage: 36.0+ MB
None

In [161]:
# Check for missing values
print(df.isnull().sum())

id                       0
name                     0
number_of_seasons        0
number_of_episodes       0
original_language        0
vote_count               0
vote_average             0
overview                 0
adult                    0
backdrop_path            0
first_air_date           0
last_air_date            0
homepage                 0
in_production            0
original_name            0
popularity               0
poster_path              0
type                     0
status                   0
tagline                  0
genres                   0
created_by               0
languages                0
networks                 0
origin_country           0
spoken_languages         0
production_companies     0
production_countries     0
episode_run_time         0
cleaned_overview        80
dtype: int64

In [212]:
# Verify the data types of all columns
print(df.dtypes)

id                        int64
name                     object
number_of_seasons         int64
number_of_episodes        int64
original_language        object
vote_count                int64
vote_average            float64
overview                 object
adult                      bool
backdrop_path            object
first_air_date           object
last_air_date            object
homepage                 object
in_production              bool
original_name            object
popularity              float64
poster_path              object
type                     object
status                   object
tagline                  object
genres                   object
created_by               object
languages                object
networks                 object
origin_country           object
spoken_languages         object
production_companies     object
production_countries     object
episode_run_time          int64
cleaned_overview         object
dtype: object

In [213]:
# Fill missing values for numerical columns with mean
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[numerical_cols] = df[numerical_cols].fillna(df[numerical_cols].mean())

In [214]:
# Fill missing values for categorical columns with mode
categorical_cols = df.select_dtypes(include=['object']).columns
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

In [215]:
# Verify that there are no missing values
print(df.isnull().sum())

id                      0
name                    0
number_of_seasons       0
number_of_episodes      0
original_language       0
vote_count              0
vote_average            0
overview                0
adult                   0
backdrop_path           0
first_air_date          0
last_air_date           0
homepage                0
in_production           0
original_name           0
popularity              0
poster_path             0
type                    0
status                  0
tagline                 0
genres                  0
created_by              0
languages               0
networks                0
origin_country          0
spoken_languages        0
production_companies    0
production_countries    0
episode_run_time        0
cleaned_overview        0
dtype: int64

### Remove Duplicates

1,580 rows of data were removed due to it being a duplicate row.

In [216]:
# Check how many duplicates are there
num_duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicate_rows}")

Number of duplicate rows: 0

In [217]:
# Remove duplicates
df = df.drop_duplicates()

In [218]:
num_duplicates_after = df.duplicated().sum()
print(f"Number of duplicates after removing: {num_duplicates_after}")

Number of duplicates after removing: 0

### Clean Text Data

In [219]:
'''
I made some notes on how to get nltk to work on your enviroment, I know that this has worked on VS Code 
on macOS so if that is the enviroment and OS that you are using this should work. I hope it helps!

how to install nltk:
1. make sure you are working in a virtual enviroment when working on vs code, also
ensure you have python installed with the following command:
python --version

2. on macos, run this command to create the virtual enviroment:
python3 -m venv myenv

3. then activate the virtual enviroment with this command:
source myenv/bin/activate

4. then you can install packages like nltk with this command:
pip install nltk

5. once you have done this, check to see if nltk have been dowloaded with this command:
pip list
nltk should show up in the list

6. then in the terminal type in 'python3', then 'import nltk', then nltk.__version__, this will help
ensure that nltk is installed

7. then I ensured I have actually activated the virtual enviroment with this command, this
will be different depending on which directory your enviroment is located:
source /Users/safiaboutaleb/Developer/directv_tvrec/myenv/bin/activate

8. then I tried to reinstall the certificates with this command for nltk to finally work:
/Applications/Python\ 3.11/Install\ Certificates.command

The following lines of code below here are needed to install the nessesary components of nltk,
once you run this once, you can delete these lines of code because they will have already been installed:

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

yt video that helped a bit:
https://www.youtube.com/watch?v=85Xr0UGR8qQ
'''

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
/var/folders/ws/h5cznykn1ynb12pl7r1k614h0000gn/T/ipykernel_32095/1007454754.py:1: SyntaxWarning: invalid escape sequence '\ '
  '''

"\nI made some notes on how to get nltk to work on your enviroment, I know that this has worked on VS Code \non macOS so if that is the enviroment and OS that you are using this should work. I hope it helps!\n\nhow to install nltk:\n1. make sure you are working in a virtual enviroment when working on vs code, also\nensure you have python installed with the following command:\npython --version\n\n2. on macos, run this command to create the virtual enviroment:\npython3 -m venv myenv\n\n3. then activate the virtual enviroment with this command:\nsource myenv/bin/activate\n\n4. then you can install packages like nltk with this command:\npip install nltk\n\n5. once you have done this, check to see if nltk have been dowloaded with this command:\npip list\nnltk should show up in the list\n\n6. then in the terminal type in 'python3', then 'import nltk', then nltk.__version__, this will help\nensure that nltk is installed\n\n7. then I ensured I have actually activated the virtual enviroment with this command, this\nwill be different depending on which directory your enviroment is located:\nsource /Users/safiaboutaleb/Developer/directv_tvrec/myenv/bin/activate\n\n8. then I tried to reinstall the certificates with this command for nltk to finally work:\n/Applications/Python\\ 3.11/Install\\ Certificates.command\n\nThe following lines of code below here are needed to install the nessesary components of nltk,\nonce you run this once, you can delete these lines of code because they will have already been installed:\n\nnltk.download('punkt')\nnltk.download('stopwords')\nnltk.download('wordnet')\n\nyt video that helped a bit:\nhttps://www.youtube.com/watch?v=85Xr0UGR8qQ\n"

In [220]:
'''
clean text function to convert text to lowercase, remove special characters 
(punctuation, numbers, etc.), remove stop words, tokenize, and apply lemmatization
'''

def clean_text(text):
  text = text.lower()
    
  text = re.sub(r'[^a-zA-Z\s]', '', text)
    
  tokens = word_tokenize(text)
    
  stop_words = set(stopwords.words('english'))
  tokens = [word for word in tokens if word not in stop_words]
    
  lemmatizer = WordNetLemmatizer()
  tokens = [lemmatizer.lemmatize(token) for token in tokens]
    
  cleaned_text = ' '.join(tokens)
    
  return cleaned_text

In [221]:
'''
now we use the clean_text function on the overview column and overwrite the existing csv file
'''

df['cleaned_overview'] = df['overview'].apply(lambda x: clean_text(x) if pd.notnull(x) else '')
df.to_csv('TMDB_tv_dataset_v3.csv', index=False)

In [222]:
print(df['cleaned_overview'][0])
print(df['overview'][0])

seven noble family fight control mythical land westeros friction house lead fullscale war ancient evil awakens farthest north amidst war neglected military order misfit night watch stand realm men icy horror beyond
Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. Amidst the war, a neglected military order of misfits, the Night's Watch, is all that stands between the realms of men and icy horrors beyond.

### Normalize/Standardize Numeric Data

### One-Hot Encoding of Categorical Features

In [223]:
# Creating a list of all columns with object values and inspecting their unique values
list = df.select_dtypes(include=['object']).columns.tolist()
print(df[list].nunique())

name                    155586
original_language          106
overview                 91243
backdrop_path            76300
first_air_date           18286
last_air_date            18705
homepage                 49758
original_name           157313
poster_path             106050
type                         7
status                       6
tagline                   5267
genres                    2228
created_by               26081
languages                 1113
networks                  8196
origin_country             792
spoken_languages           946
production_companies     27132
production_countries      1247
cleaned_overview         91026
dtype: int64

In [224]:
# Columns not included are name, overview, backdrop_path, homepage, original_name, poster_path, tagline, languages, spoken_languages,production_countries, and cleaned_overview
encode_cols =['original_language','type', 'status','created_by','networks','origin_country','production_companies']

In [225]:
# Creating a list of the top 20 values in the original_language column
top_20_original_language = df['original_language'].value_counts(ascending = False).head(20).index.tolist()
top_20_original_language

['en',
 'zh',
 'ja',
 'ko',
 'de',
 'fr',
 'es',
 'pt',
 'ru',
 'nl',
 'ar',
 'da',
 'cn',
 'th',
 'tr',
 'it',
 'hi',
 'sv',
 'cs',
 'no']

In [226]:
# Creating one-hot encoded columns for original_language
for i in top_20_original_language:
    name = 'original-language_' + i
    df[name] = np.where(df['original_language'] == i, 1, 0)

In [227]:
# Removing the original_language column from df and encode_cols
df.drop(columns = ['original_language'], inplace = True)
encode_cols.remove('original_language')
df.columns

Index(['id', 'name', 'number_of_seasons', 'number_of_episodes', 'vote_count',
       'vote_average', 'overview', 'adult', 'backdrop_path', 'first_air_date',
       'last_air_date', 'homepage', 'in_production', 'original_name',
       'popularity', 'poster_path', 'type', 'status', 'tagline', 'genres',
       'created_by', 'languages', 'networks', 'origin_country',
       'spoken_languages', 'production_companies', 'production_countries',
       'episode_run_time', 'cleaned_overview', 'original-language_en',
       'original-language_zh', 'original-language_ja', 'original-language_ko',
       'original-language_de', 'original-language_fr', 'original-language_es',
       'original-language_pt', 'original-language_ru', 'original-language_nl',
       'original-language_ar', 'original-language_da', 'original-language_cn',
       'original-language_th', 'original-language_tr', 'original-language_it',
       'original-language_hi', 'original-language_sv', 'original-language_cs',
       'original-language_no'],
      dtype='object')

In [187]:
# Creating a list of the top 10 values in the created_by column
top_10_created_by = df['created_by'].value_counts(ascending = False).head(10).index.tolist()
top_10_created_by

['Shotaro Ishinomori',
 'John de Mol',
 'Adrián Suar',
 'Simon Fuller',
 'Ekta Kapoor',
 'Na Young-seok',
 'Yang Li-Hua',
 'Joseph Barbera, William Hanna',
 'R.J. Nuevas',
 'Mark Burnett']

In [229]:
# Creating one-hot encoded columns for created_by
for i in top_10_created_by:
    name = 'created-by_' + i
    df[name] = np.where(df['created_by'] == i, 1, 0)

In [230]:
# Removing the created_by column from df and encode_cols
df.drop(columns = ['created_by'], inplace = True)
encode_cols.remove('created_by')

df.columns

Index(['id', 'name', 'number_of_seasons', 'number_of_episodes', 'vote_count',
       'vote_average', 'overview', 'adult', 'backdrop_path', 'first_air_date',
       'last_air_date', 'homepage', 'in_production', 'original_name',
       'popularity', 'poster_path', 'type', 'status', 'tagline', 'genres',
       'languages', 'networks', 'origin_country', 'spoken_languages',
       'production_companies', 'production_countries', 'episode_run_time',
       'cleaned_overview', 'original-language_en', 'original-language_zh',
       'original-language_ja', 'original-language_ko', 'original-language_de',
       'original-language_fr', 'original-language_es', 'original-language_pt',
       'original-language_ru', 'original-language_nl', 'original-language_ar',
       'original-language_da', 'original-language_cn', 'original-language_th',
       'original-language_tr', 'original-language_it', 'original-language_hi',
       'original-language_sv', 'original-language_cs', 'original-language_no',
       'created-by_Shotaro Ishinomori', 'created-by_John de Mol',
       'created-by_Adrián Suar', 'created-by_Simon Fuller',
       'created-by_Ekta Kapoor', 'created-by_Na Young-seok',
       'created-by_Yang Li-Hua', 'created-by_Joseph Barbera, William Hanna',
       'created-by_R.J. Nuevas', 'created-by_Mark Burnett'],
      dtype='object')

In [232]:
# Creating a list of the top 11 values in the networks column
top_11_networks = df['networks'].value_counts(ascending = False).head(11).index.tolist()
top_11_networks

['BBC One',
 'YouTube',
 'Netflix',
 'ITV1',
 'BBC Two',
 'ABC',
 'NBC',
 'TVB Jade',
 'CBS',
 'Channel 4',
 'ZDF']

In [233]:
# Creating one-hot encoded columns for networks
for i in top_11_networks:
    name = 'networks_' + i
    df[name] = np.where(df['networks'] == i, 1, 0)

In [234]:
# Removing the networks column from df and encode_cols
df.drop(columns = ['networks'], inplace = True)
encode_cols.remove('networks')

df.columns

Index(['id', 'name', 'number_of_seasons', 'number_of_episodes', 'vote_count',
       'vote_average', 'overview', 'adult', 'backdrop_path', 'first_air_date',
       'last_air_date', 'homepage', 'in_production', 'original_name',
       'popularity', 'poster_path', 'type', 'status', 'tagline', 'genres',
       'languages', 'origin_country', 'spoken_languages',
       'production_companies', 'production_countries', 'episode_run_time',
       'cleaned_overview', 'original-language_en', 'original-language_zh',
       'original-language_ja', 'original-language_ko', 'original-language_de',
       'original-language_fr', 'original-language_es', 'original-language_pt',
       'original-language_ru', 'original-language_nl', 'original-language_ar',
       'original-language_da', 'original-language_cn', 'original-language_th',
       'original-language_tr', 'original-language_it', 'original-language_hi',
       'original-language_sv', 'original-language_cs', 'original-language_no',
       'created-by_Shotaro Ishinomori', 'created-by_John de Mol',
       'created-by_Adrián Suar', 'created-by_Simon Fuller',
       'created-by_Ekta Kapoor', 'created-by_Na Young-seok',
       'created-by_Yang Li-Hua', 'created-by_Joseph Barbera, William Hanna',
       'created-by_R.J. Nuevas', 'created-by_Mark Burnett', 'networks_BBC One',
       'networks_YouTube', 'networks_Netflix', 'networks_ITV1',
       'networks_BBC Two', 'networks_ABC', 'networks_NBC', 'networks_TVB Jade',
       'networks_CBS', 'networks_Channel 4', 'networks_ZDF'],
      dtype='object')

In [236]:
# Creating a list of the top 10 values in the origin_country column
top_26_origin_country = df['origin_country'].value_counts(ascending = False).head(26).index.tolist()
top_26_origin_country

['US',
 'JP',
 'GB',
 'CN',
 'DE',
 'KR',
 'CA',
 'FR',
 'AU',
 'BR',
 'NL',
 'RU',
 'ES',
 'TH',
 'HK',
 'IN',
 'DK',
 'PH',
 'IT',
 'TR',
 'SE',
 'NO',
 'TW',
 'BE',
 'CZ',
 'MX']

In [237]:
# Creating one-hot encoded columns for origin_country
for i in top_26_origin_country:
    name = 'origin-country_' + i
    df[name] = np.where(df['origin_country'] == i, 1, 0)

In [238]:
# Removing the origin_country column from df and encode_cols
df.drop(columns = ['origin_country'], inplace = True)
encode_cols.remove('origin_country')

df.columns

Index(['id', 'name', 'number_of_seasons', 'number_of_episodes', 'vote_count',
       'vote_average', 'overview', 'adult', 'backdrop_path', 'first_air_date',
       'last_air_date', 'homepage', 'in_production', 'original_name',
       'popularity', 'poster_path', 'type', 'status', 'tagline', 'genres',
       'languages', 'spoken_languages', 'production_companies',
       'production_countries', 'episode_run_time', 'cleaned_overview',
       'original-language_en', 'original-language_zh', 'original-language_ja',
       'original-language_ko', 'original-language_de', 'original-language_fr',
       'original-language_es', 'original-language_pt', 'original-language_ru',
       'original-language_nl', 'original-language_ar', 'original-language_da',
       'original-language_cn', 'original-language_th', 'original-language_tr',
       'original-language_it', 'original-language_hi', 'original-language_sv',
       'original-language_cs', 'original-language_no',
       'created-by_Shotaro Ishinomori', 'created-by_John de Mol',
       'created-by_Adrián Suar', 'created-by_Simon Fuller',
       'created-by_Ekta Kapoor', 'created-by_Na Young-seok',
       'created-by_Yang Li-Hua', 'created-by_Joseph Barbera, William Hanna',
       'created-by_R.J. Nuevas', 'created-by_Mark Burnett', 'networks_BBC One',
       'networks_YouTube', 'networks_Netflix', 'networks_ITV1',
       'networks_BBC Two', 'networks_ABC', 'networks_NBC', 'networks_TVB Jade',
       'networks_CBS', 'networks_Channel 4', 'networks_ZDF',
       'origin-country_US', 'origin-country_JP', 'origin-country_GB',
       'origin-country_CN', 'origin-country_DE', 'origin-country_KR',
       'origin-country_CA', 'origin-country_FR', 'origin-country_AU',
       'origin-country_BR', 'origin-country_NL', 'origin-country_RU',
       'origin-country_ES', 'origin-country_TH', 'origin-country_HK',
       'origin-country_IN', 'origin-country_DK', 'origin-country_PH',
       'origin-country_IT', 'origin-country_TR', 'origin-country_SE',
       'origin-country_NO', 'origin-country_TW', 'origin-country_BE',
       'origin-country_CZ', 'origin-country_MX'],
      dtype='object')

In [240]:
# Creating a list of the top 10 values in the production_companies column
top_10_production_companies = df['production_companies'].value_counts(ascending = False).head(10).index.tolist()
top_10_production_companies

['TVB',
 'BBC',
 'Estúdios Globo',
 'NHK',
 'DR TV',
 'TV 2',
 'Televisa',
 'GMA Entertainment Group',
 'Česká televize',
 'ATV Enterprises Limited']

In [241]:
# Creating one-hot encoded columns for production_companies
for i in top_10_production_companies:
    name = 'production-companies_' + i
    df[name] = np.where(df['production_companies'] == i, 1, 0)

In [242]:
# Removing the production_companies column from df and encode_cols
df.drop(columns = ['production_companies'], inplace = True)
encode_cols.remove('production_companies')

df.columns

Index(['id', 'name', 'number_of_seasons', 'number_of_episodes', 'vote_count',
       'vote_average', 'overview', 'adult', 'backdrop_path', 'first_air_date',
       ...
       'production-companies_TVB', 'production-companies_BBC',
       'production-companies_Estúdios Globo', 'production-companies_NHK',
       'production-companies_DR TV', 'production-companies_TV 2',
       'production-companies_Televisa',
       'production-companies_GMA Entertainment Group',
       'production-companies_Česká televize',
       'production-companies_ATV Enterprises Limited'],
      dtype='object', length=102)

In [243]:
# One-hot encoding remaining columns
for colname in encode_cols:
    df_encoded = pd.get_dummies(df[colname], prefix=colname+'')
    df = df.join(df_encoded)

df.columns

Index(['id', 'name', 'number_of_seasons', 'number_of_episodes', 'vote_count',
       'vote_average', 'overview', 'adult', 'backdrop_path', 'first_air_date',
       ...
       'type_Reality', 'type_Scripted', 'type_Talk Show', 'type_Video',
       'status_Canceled', 'status_Ended', 'status_In Production',
       'status_Pilot', 'status_Planned', 'status_Returning Series'],
      dtype='object', length=115)

In [244]:
# Removing remaining original cols from df
df.drop(columns=encode_cols,axis=1,inplace=True)

df.columns

Index(['id', 'name', 'number_of_seasons', 'number_of_episodes', 'vote_count',
       'vote_average', 'overview', 'adult', 'backdrop_path', 'first_air_date',
       ...
       'type_Reality', 'type_Scripted', 'type_Talk Show', 'type_Video',
       'status_Canceled', 'status_Ended', 'status_In Production',
       'status_Pilot', 'status_Planned', 'status_Returning Series'],
      dtype='object', length=113)

In [245]:
df.head(10)

,id,name,number_of_seasons,number_of_episodes,vote_count,vote_average,overview,adult,backdrop_path,first_air_date,...,type_Reality,type_Scripted,type_Talk Show,type_Video,status_Canceled,status_Ended,status_In Production,status_Pilot,status_Planned,status_Returning Series
0,1399,Game of Thrones,8,73,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,2011-04-17,...,False,True,False,False,False,True,False,False,False,False
1,71446,Money Heist,3,41,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,2017-05-02,...,False,True,False,False,False,True,False,False,False,False
2,66732,Stranger Things,4,34,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,2016-07-15,...,False,True,False,False,False,False,False,False,False,True
3,1402,The Walking Dead,11,177,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,2010-10-31,...,False,True,False,False,False,True,False,False,False,False
4,63174,Lucifer,6,93,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,2016-01-25,...,False,True,False,False,False,True,False,False,False,False
5,69050,Riverdale,7,137,13180,8.479,"Set in the present, the series offers a bold, ...",False,/soQgquPkLmUu9eKLJJzuA4KZDyi.jpg,2017-01-26,...,False,True,False,False,False,True,False,False,False,False
6,93405,Squid Game,2,9,13053,7.831,Hundreds of cash-strapped players accept a str...,False,/2meX1nMdScFOoV4370rqHWKmXhY.jpg,2021-09-17,...,False,True,False,False,False,False,False,False,False,True
7,1396,Breaking Bad,5,62,12398,8.890,"When Walter White, a New Mexico chemistry teac...",False,/tsRy63Mu5cu8etL1X7ZLyf7UP1M.jpg,2008-01-20,...,False,True,False,False,False,True,False,False,False,False
8,71712,The Good Doctor,6,116,11768,8.503,"Shaun Murphy, a young surgeon with autism and ...",False,/xXRsKNJHTOGrs5wfYAxkbM2RiyT.jpg,2017-09-25,...,False,True,False,False,False,False,False,False,False,True
9,85271,WandaVision,1,9,11308,8.300,Wanda Maximoff and Vision—two super-powered be...,False,/lOr9NKxh4vMweufMOUDJjJhCRHW.jpg,2021-01-15,...,False,False,False,False,False,True,False,False,False,False

# EDA